@mixin styleBg-img($bg-img, $bg-position, $bg-pre, $bg-size) {
    background-image: $bg-img;
    background-position: $bg-position;
    background-repeat: $bg-pre;
    background-size: $bg-size;
}

@mixin styleText($fs, $fw, $color) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
}

@mixin styleButton($pd-x, $pd-y, $bg-color, $bd-ra, $bd) {
    padding: $pd-x $pd-y;
    background-color: $bg-color;
    border-radius: $bd-ra;
    border: $bd;
}