// Color
$color: rgba(182, 24, 130, 1);
$color-pink-2: #aa017e;
$color-black-1: #181818;
$color-black-2:  rgba(0,0,0,.1);
$color-black-3: rgba(255,255,255,.1);
$color-white-1: white;
$color-white-2: #979797;

//font size
$fs-1: 13px;
$fs-2: 15px;
$fs-3: 20px;
$fs-4: 30px;
$fs-5: 40px;
$fs-6: 50px;
$fs-7: 70px;

//font weight
$fw-1: 400;
$fw-2: 600;
$fw-3: 800;
$fw-4: bold;


//letter spacing
$ls-1: 2px;
$ls-2: 4px;

//Padding
$pd-1: 5px;
$pd-2: 10px;
$pd-3: 15px;
$pd-4: 20px;
$pd-5: 30px;
$pd-6: 50px;
$pd-7: 70px;
$pd-8: 100px;
$pd-9: 150px;
$pd-10: 220px;

//Margin
$mg-1: 20px;
$mg-2: 30px;
$mg-3: 50px;
$mg-4: 100px;

//border
$bd-1: 1px;
$bd-2: 2px;

// radius
$bd-ra-1: 20px;
$bd-ra-2: 30px

