.footer {
    @include styleBg-img(url(./../images/footer_background.jpg), center, no-repeat, cover);
    padding: $pd-9;
    margin-top: -5px;
    .footer__item {
      @include styleText($fs-1, none, $color-white-1);
      ul {
        list-style: none;
        
        li {
          line-height: 35px;
          h3 {
            @include styleText($fs-4, $fw-4, $color-white-1);
            margin: $mg-2 0;
          } 
          span {
            i {
              margin: 0 5px;
            }
          }
          a {
            text-decoration: none;
            color: white;
            transition: all 0.5s;
            &:hover {
              color: $color-white-2;
            }
            i {
              margin: 0 5px;
            }
          }
          .text-center {
            border-radius: $bd-ra-2;
            border: 1px solid $color-black-3;
            background-color: $color-pink-2;
            padding: $pd-5 0px;
            
            &:focus {
              box-shadow: none;
              border: 1px solid $color-white-1;
            }
            &::placeholder {
              color: $color-white-1;
              opacity: 1;
            }
          }
        }
      }
    }
    .footer__link {
      ul {
        li {
          border-bottom: 1px solid $color-black-2;
        }
        .underlight {
          border: none;
        }
      }
      
    }
  }
  
  