.btn-number-phone {
    @include styleText($fs-2, $fw-2, $color-white-1 !important);
    padding: $pd-2 $pd-4;
    background-color: $color;
    border-radius: $bd-ra-2;
    border: 1px solid $color;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      background-color: $color-white-1;
      color: $color !important;
    }
  }

  .btn-send {
    padding: $pd-3 $pd-7;
    background-color: $color;
    color: $color-white-1;
    border-radius: $bd-ra-2;
    margin-top: $mg-1;
    text-decoration: none;
    border: 1px solid $color;
    transition: all 0.5s;
    &:hover {
      color: $color;
      background-color: white;
      text-decoration: none;
    }
  }
  .footer {
    .footer__item {
      ul {
        li {
          input {
            border-radius: $bd-ra-2;
            border: 1px solid $color-black-3;
            background-color: $color-pink-2;
            padding: $pd-5 0px;
            margin: $mg-1 0;
            &:focus {
              box-shadow: none;
              border: 1px solid $color-white-1;
            }
            &::placeholder {
              color: $color-white-1;
              opacity: 1;
            }
          }
          .btn_contact {
            padding: $pd-3 105px;
            border: 1px solid $color-white-1;
            border-radius: $bd-ra-2;
            background-color: $color-white-1;
            color: black;
            font-weight: 600;
            &:hover {
              background-color: $color-pink-2;
              color: $color-white-1;
            }
            &:focus {
              border: none;
            }
          }
        }
      }      
    }
  }
  