.btn-number-phone {
  @include styleText($fs-2, $fw-2, $color-white-1 !important);
  @include styleButton($pd-2, $pd-4, $color, $bd-ra-2, 1px solid $color);
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background-color: $color-white-1;
    color: $color !important;
  }
}

.btn-send {
  @include styleButton($pd-3, $pd-7, $color, $bd-ra-2, 1px solid $color);
  color: $color-white-1;
  margin-top: $mg-1;
  text-decoration: none;
  transition: all 0.5s;
  &:hover {
    color: $color;
    background-color: white;
    text-decoration: none;
  }
}
.footer {
  .footer__item {
    .btn_contact {
      max-width: 86%;
      margin: 0 auto;
      @include styleButton(
        $pd-2,
        $pd-4,
        $color-white-1,
        $bd-ra-2,
        1px solid $color-white-1
      );
      @include styleText($fs-1, $fw-2, $color-black-1);
      &:hover {
        background-color: $color-pink-2;
        color: $color-white-1;
      }
      &:focus {
        border: none;
      }
    }
  }
}
